@mixin poppins-font{
    font-family: poppins;
    font-size: 1.1rem;
    font-weight: 500;
}

.main {
    width: 100%;
    height: 100%;
    
    .leftSection {
        width: 20%;
        height: 100%;
        border: 1px solid rgba(237, 245, 254, 1);
        position: fixed;

        .sideNavBar {
            width: 100%;
            height: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .headingContainer {
                width: 100%;
                height: 25%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5%;

                .appLogo {
                    width: 15%;
                }
                .appName {
                    font-family: poppins;
                    font-size: 1.2rem;
                    font-weight: 700;
                }
            }

            .optionsContainer {
                width: 100%;
                height: 70%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .elements {
                    width: 100%;
                    height: 25%;
                    display: flex;
                    align-items: center;
                    gap: 5%;
                    cursor: pointer;
                }

                .elements:hover {
                    background-color: rgba(67, 145, 237, 0.1);
                }

                .appLogo {
                    width: 30%;
                    padding-left: 18%;
                }

                .appName {
                    @include poppins-font();
                }
            }
        }

        .logoutContainer {
            width: 100%;
            height: 55%;
            display: flex;
            gap: 5%;
            align-items: flex-end;
            cursor: pointer;
            
            .exitLogo {
                width: 30%;
                padding-left: 18%;
            }

            .text {
              @include poppins-font();
            }
        }
    }
}