.main {
    width: 80vw;
    height: 100%;


    .header {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-between;

        .detailsContainer {
            width: 30%;
            height: 100%;

            .userName {
                font-family: Poppins;
                width: 100%;
                height: 40%;
                padding-left: 5%;
                display: flex;
                align-items: flex-end;
            }

            .text {
                font-family: Poppins;
                font-weight: 500;
                font-size: 1.3rem;
                width: 100%;
                height: 60%;
                padding-left: 5%;
                display: flex;
                align-items: flex-end;
            }
        }

        .dateAndFilterContainer {
            width: 30%;
            height: 100%;

            .date {
                width: 100%;
                height: 40%;
                color: rgba(112, 112, 112, 1);
                font-family: poppins;
                font-weight: 500;
                font-size: 1rem;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                padding-right: 8%;
            }

            .filter {
                width: 100%;
                height: 60%;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                padding-right: 8%;

                .dropDown {
                    outline: none;
                    border: none;
                    font-family: poppins;
                    font-weight: 500;
                    font-size: 0.9rem;
                }
            }
        }
    }

    .bottomSection {
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        gap: 2%;
        overflow-x: auto;
        white-space: nowrap;
        padding-left: 10px;
        padding-right: 10px;

        &::-webkit-scrollbar {
            height: 0.8rem;
        }

        &::-webkit-scrollbar-track {
            background-color: rgba(156, 183, 197, 1);
            border-radius: 10px;
        }

        .taskContainer {
            width: 30%;
            height: 95%;
            background-color: rgba(238, 242, 245, 1);
            flex-shrink: 0;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 0.5rem;
                height: 1rem;
            }

            &::-webkit-scrollbar-track {
                background-color: rgba(141, 170, 185, 0.8);
                border-radius: 10px;
            }


            .fieldsContainer {
                width: 90%;
                height: 10%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 10%;
                margin-top: 2%;

                .taskName {
                    font-family: poppins;
                    font-size: 1rem;
                    font-weight: 500;
                }

                .icon {
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                }

                .imageContainer {
                    .addIcon {
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                        padding-bottom: 3px;
                        cursor: pointer;
                    }
                }
            }

            .taskCard {
                width: 90%;
                margin-left: 5%;
                background-color: rgba(255, 255, 255, 1);
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 1rem;
                gap: 0.5rem;

                .priorityContainer {
                    width: 90%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 1rem;

                    .priority {
                        width: 50%;
                        display: flex;
                        align-items: center;
                        gap: 0.2rem;

                        .priorityName {
                            font-family: poppins;
                            font-size: 0.7rem;
                            font-weight: 500;
                            color: rgba(112, 112, 112, 1);
                        }
                    }

                    .optionsIcon {
                        cursor: pointer;
                    }
                }

                .title {
                    width: 90%;
                    font-family: poppins;
                }

                .checkListContainer {
                    width: 90%;
                    font-family: Inter;
                    display: flex;
                    flex-direction: column;
                    gap: 0.8em;

                    .headingAndExpansionBtn {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;


                        .heading {
                            font-weight: 500;
                            font-size: 1rem;
                        }

                        .arrowIcon {
                            width: 1.5rem;
                            height: 1.5rem;
                            background-color: rgba(238, 236, 236, 1);
                            border-radius: 4px;
                            cursor: pointer;
                        }
                    }

                    .tasksConatiner {
                        width: 100%;
                        display: flex;
                        gap: 5%;
                        border: 1px solid rgba(226, 226, 226, 1);
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                        padding-left: 0.5rem;
                        border-radius: 12px;

                        .checkboxContainer {
                            width: 10%;
                            display: flex;
                            justify-content: center;
                            align-items: center;


                            .checkBox {
                                width: 16px;
                                height: 16px;
                                border: 2px solid rgba(226, 226, 226, 1);
                                border-radius: 4px;
                                outline: none;
                                cursor: pointer;
                            }
                        }

                        .task {
                            font-size: 1rem;
                            font-weight: 400;
                        }
                    }

                    .dueDateAndControlsSection {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 1rem;

                        .dueDate {
                            width: 20%;
                            height: 1.5rem;
                            border-radius: 8px;
                            font-family: poppins;
                            font-size: 0.5rem;
                            font-weight: 500;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .empty {
                            width: 20%;
                        }

                        .buttonsContainer {
                            width: 65%;
                            height: 1.5rem;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;

                            .contolBtns {
                                width: 30%;
                                height: 100%;
                                height: 100%;
                                font-family: poppins;
                                font-size: 0.5rem;
                                font-weight: 500;
                                color: rgba(118, 117, 117, 1);
                                background-color: rgba(238, 236, 236, 1);
                                border-radius: 8px;
                            }
                        }


                    }
                }

                .optionsContainer {
                    position: absolute;
                    left: 9.5rem;
                    top: 1.8rem;
                    z-index: 1000;
                    width: 6.5rem;
                    height: 6rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    background-color: white;
                    box-shadow: 0px 2px 22px 0px rgba(126, 122, 122, 0.25);
                    border-radius: 12px;

                    .options {
                        font-family: poppins;
                        font-size: 0.8rem;
                        font-weight: 500;
                        padding-left: 15%;
                        cursor: pointer;
                    }

                    #deleteOption {
                        color: rgba(207, 54, 54, 1);
                    }
                }

            }


        }
    }
}